*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid hsla(0, 3%, 15%, 0.107);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
}
#nav480{
    display: none;
}
.left img{
    width: 70%;
    margin-left: 30px;
    height: 50px;
}
.right{
    width: 20%;
    /* border: 1px solid red; */
   
}
span{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: lighter;
}
.red{
    color: red;
    font-size: 12px;
    text-decoration: none;
}
@media(max-width:480px){
    #nav480{
        display: flex;
        width: 100%;
    }
    nav{
        display: none;
    }
    .left480 img{
        width: 20%;
        margin-left: 30px;
    }
    .right480{
        margin-right: 20px;
        width: 55%;
        /* border: 1px solid red; */
    }
    .red480{
        color: red;
        text-decoration: none;
        font-size: 12px;
    }
}

/* the body session begins here */
header{
    width: 70%;
    height: 600px;
    background-color: #fff;
    margin: 90px auto;
}
#header480{
    display: none;
}
.start{
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
    font-weight: lighter;
    font-family: sans-serif;
}
form{
    width: 62%;
    height: inherit;
    /* border: 1px solid red; */
    margin:30px 180px;
}
label{
    font-size: 15px;
    padding-top: 5px;
}
input{
    width: 100%;
    height: 45px;   
}
input:focus-within{
    outline: 1px solid rgb(137, 203, 250);
    border: none;
}
input:last-child{
    width:4%;
    height: 20px;
    border: none;
    outline: none;
}
.jojo{
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 12px;
}
.base{
    font-size: 12px;
}
.holdMe{
    width: 100%;
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    align-items: center;
   
}
.eyes{
    position: absolute;
    right: 10px;
}
.forFree{
    background-color: red;
    color: #fff;
    width: 100%;
    height: 50px;
    border: none;
    font-weight: bolder;
    font-size: 16px;
}
.lastHolder{
    /* border: 1px solid red; */
    width: 67%;
    height: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logos{
    width: 70%;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;

}
.logos img{
    width: 80px;
   
}
@media(max-width:480px){
    header{
        display: none;
    }
    #header480{
        display: block;
        width: 100%;
        height: 600px;
        background-color: #fff;

    }
    .start480{
        text-align: left;
        font-size: 25px;
        padding-left: 20px;
        font-weight: lighter;
        font-family: sans-serif;

    }
    #form480{
        width: 90%;
        height: 500px;
        /* border: 1px solid black; */
       margin-left: 20px;
    }

    .holdMe480{
        display: flex;
        align-items: center;
        position: relative;
    }
    .eyes480{
        position: absolute;
        right: 10px;
    }
    .base480{
        font-size: 13px;
        font-weight: bolder;
    }
    .jojo480{
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bolder;
        font-size: 13px;
    }
    .forFree480{
        background-color: red;
        color: #fff;
        width: 100%;
        height: 50px;
        border: none;
        font-size: 15px;
        font-weight: bolder;
    }
    .or480{
        text-align: center;
        padding-top: 40px;
    }
    .logos480{
        width: 40%;
        height: 50px;
        /* border: 1px solid black; */
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        margin: 10px auto;
    }
    .logos480 img{
        width: 20%;
        margin: auto;
       
    }
    .lasty {
        text-align: center;
        padding-top: 10px;
    }
}

